ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.player {
  margin-bottom: 20px;
}

.player ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, 80px);
  grid-gap: 10px;
}

.frame {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.frame .score {
  text-align: right;
  padding: 2px 10px;
}

.scores {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  margin-left: auto;
}

.scores .roll {
  width: 22px;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
}

.scores .roll:nth-child(n + 2) {
  border-left: 1px solid;
}
